.no-padding{
  padding: 0px!important;
}
.no-margin{
  margin: 0px!important;
}
.padding-xs{
  padding: 5px!important;
}
.margin-xs{
  margin: 5px!important;
}
.padding-sm{
  padding: 10px!important;
}
.margin-sm{
  margin: 10px!important;
}
.padding-md{
  padding: 20px!important;
}
.margin-md{
  margin: 20px!important;
}
.padding-lg{
  padding: 30px!important;
}
.margin-lg{
  margin: 30px!important;
}
.padding-xl{
  padding: 50px!important;
}
.margin-xl{
  margin: 50px!important;
}