<div class="jumbotron">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 text-center col-sm-push-4">
                <img src="dist/images/logo70.png"/><br/>

            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 text-center col-sm-pull-4">

            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 text-center">

            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-center">
                <h3>Podium</h3>
            </div>
            <div class="col-xs-12 text-center">
                <h4>An Open source documentation template for your projects.</h4>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="container-fluid">
            <div class="col-xs-12 text-center">
                <h1>Build with known frameworks and libraries</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="card-wrapper">
                <img src="dist/images/angular-sm.png">
                <h3>Angular JS</h3>
                <p>Podium uses angular js as a UI framework to build the app.</p>
                <a href="http://angularjs.org" target="_blank" class="btn">Angular JS</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card-wrapper">
                <img src="dist/images/bootstrap.png" style="width: 100px;height: 100px;">
                <h3>Bootstrap 3</h3>
                <p>Podium uses twitter bootstrap sass for the UI styling.</p>
                <a href="http://getbootstrap.com" target="_blank" class="btn">Bootstrap</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card-wrapper">
                <img src="dist/images/gulp.png" style="height: 100px;">
                <h3>Gulp</h3>
                <p>Podium uses gulp for automation of all the tasks.</p>
                <a href="http://gulpjs.com" target="_blank" class="btn">Gulp</a>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="container-fluid">
            <div class="col-xs-12 text-center">
                <h1>Compatible with</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="card-wrapper">
                <img src="dist/images/Octocat100x84.png">
                <h3>GitHub Pages</h3>
                <p>Podium is 100% compatible with GitHub Pages, just say "NODE_ENV=prod gulp" from your command line and commit.</p>
                <a href="//colorgap.github.io/podium" target="_blank" class="btn">Demo</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card-wrapper">
                <h1 style="height: 65px;">DOKKU</h1>
                <h3>Dokku</h3>
                <p>Podium is compatible with dokku, just clone it in public folder of your dokku nodejs project, we will provide a dokku config project soon.</p>
                <a href="http://progrium.viewdocs.io/dokku/" target="_blank" class="btn">Dokku</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card-wrapper">
                <h1 style="height: 65px;">Any Server</h1>
                <h3>Any Server</h3>
                <p>Podium is 100% compatible Apache, nginx, etc. Its just pure html, js and css. Best for any type of project documentation.</p>
                <a href="https://www.colorgap.com" style="text-decoration: none"><span class="colorgap-logo colorgap-logo-dark">Color]<span class="gap">[gap</span></span></a>
            </div>
        </div>
    </div>
</div>