<!doctype html>
<html ng-app="podium">
<head>
    <meta charset="utf-8">
    <title>Colorgap Git</title>
    <meta name="description" content="">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width">
    <link href="dist/css/main.css" rel="stylesheet">
</head>
<body>
<!--[if lt IE 9]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<div id="wrapper">
    <!-- Sidebar -->
    <div id="sidebar-wrapper" ng-controller="leftNavCtrl">
        <div class="text-center padding-sm brand-logo">
            <a href="#/">
                <img src="dist/images/logo70.png"/>
            </a>
        </div>
        <div class="sidebar-scroll">
            <ul class="sidebar-nav">
                <li ui-sref-active="active" ng-repeat="item in leftNavList">
                    <a ui-sref="docs({pageId:item.id})">{{item.docLabel}}</a>
                    <ul class="sidebar-nav">
                        <li class="sidebar-brand text-center padding-sm" ng-repeat="subItems in item.children">
                            <a ui-sref="docs({pageId:item.id})">{{subItems.docLabel}}</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="text-center footer">
            < > with <i class="fa fa-heart red"></i> by <a href="https://www.colorgap.com" style="text-decoration: none"><span class="colorgap-logo">Color]<span class="gap">[gap</span></span></a>
        </div>
    </div>
    <!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <nav class="navbar navbar-default navbar-fixed-top padding-top-md">
            <div class="container-fluid move-right-15">
                <div class="navbar-header">
                    <a href="" id="menu-toggle"><i class="fa fa-align-left"></i></a>
                </div>
            </div>
        </nav>
        <div class="wrapper-top-50">
            <div ui-view></div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->
</div>
<!-- /#wrapper -->
<script src="dist/js/vendor.js"></script>
<script src="dist/js/app.js"></script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-70135742-1', 'auto');
    ga('send', 'pageview');

</script>
<script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>
</body>
</html>